@import '../../../scss/variables';

.card-view {
	display: flex;
	flex-wrap: wrap;
	&__add-card {
		background-color: $primary-color;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		&:hover {
			cursor: pointer;
		}
	}
}
